<template>
  <label class="mt-3" v-bind:for="'cheatInput_' + index">
    {{ title }}
    <div class="text-muted">{{ formatLong(number) }}</div>
  </label>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      v-model="number"
      v-bind:id="'cheatInput_' + index"
      v-bind:class="{ 'is-invalid': !isValidNumber(number) }"
      v-on:blur="updateNumber(number)"
    />
  </div>
</template>

<script>
import { ref } from 'vue'
import * as numberformat from 'swarm-numberformat'

const formatShort = (number) =>
  numberformat.formatShort(numberformat.parse(number))

const formatLong = (number) => numberformat.format(numberformat.parse(number))

const isValidNumber = (value) => {
  const parsedValue = numberformat.parse(value)
  return !isNaN(parsedValue) && parsedValue !== null
}

export default {
  name: 'FancyInput',
  props: ['index', 'title', 'modelValue'],
  setup(props, { emit }) {
    const number = ref(formatShort(props.modelValue))

    const updateNumber = (value) => {
      if (isValidNumber(value)) {
        const parsedValue = value
        emit('update:modelValue', numberformat.parse(value))
        number.value = formatShort(parsedValue)
      }
    }

    return {
      // Variables
      number,
      // Functions
      formatLong,
      isValidNumber,
      updateNumber,
    }
  },
}
</script>

<style scoped>
label {
  text-transform: capitalize;
}
</style>
