<template>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand">Swarm Simulator Trainer</span>
      <span class="navbar-text">v{{ version }}</span>
    </nav>

    <main>
      <blockquote class="blockquote mt-5 mb-5 text-right">
        <p class="mb-0">&quot;Savescumming won't work, by the way.&quot;</p>
        <footer class="blockquote-footer">
          Swarm Simulator authors in
          <cite>Swarm Simulator data v1.0</cite>
        </footer>
      </blockquote>

      <div class="form-group">
        <label for="saveGameData">Save game data</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="saveGameData"
            v-model="savedGame"
          />
          <div
            class="input-group-append"
            v-if="
              !training.data ||
                training.data === false ||
                training.data === null
            "
          >
            <button
              class="btn btn-primary"
              type="button"
              v-on:click="loadSavedGame"
            >
              Load
            </button>
          </div>
        </div>
        <small id="saveGameDataHelp" class="form-text text-muted">
          Paste your save game data here. It's a long text you can find in the
          game under <i>More » Options » Import/Export data</i>.<br />
          After you're done with your changes, select all, copy your updated
          save game data, and paste it back into the game into the same field
          you originaly got it from.
        </small>
        <div
          class="alert alert-danger mt-5"
          role="alert"
          v-show="training.data === false || training.data === null"
        >
          <h4 class="alert-heading">Decoding error!</h4>
          <p class="mb-0">
            Couldn't decode the saved game. Make sure you use the correct
            version.
          </p>
        </div>
      </div>

      <div class="mt-5" v-if="training.data">
        <div class="form-group row">
          <div
            class="col-md"
            v-for="(title, index) in editableFields"
            v-bind:key="index"
          >
            <FancyInput
              v-model="training.data.unittypes[index]"
              v-bind:index="index"
              v-bind:title="title"
              v-on:update:modelValue="updateSavedGame"
            />
          </div>
        </div>
        <!--
        <h3 class="mt-5">Raw data</h3>
        <pre class="bg-light p-4">{{
          JSON.stringify(training.data, null, 2)
        }}</pre>
        -->
      </div>
    </main>
    <footer class="mt-5 pt-2 border-top">
      <div class="text-right text-muted small">
        &hellip; return to
        <a href="https://www.swarmsim.com/">swarmsim.com</a>
      </div>
    </footer>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.min.css'

import { ref, reactive } from 'vue'
import LZString from 'lz-string'
import { version } from '../package.json'
import FancyInput from './components/FancyInput.vue'

const PREFIX = btoa('Cheater :(\n\n')
const VERSION_DELIM = '|'

const editableFields = {
  meat: 'meat',
  larva: 'larva',
  territory: 'territory',
  crystal: 'crystal',
  mutagen: 'mutagen',
}

export default {
  name: 'App',
  setup() {
    const savedGame = ref('')
    let training = reactive({})

    const loadSavedGame = () => {
      try {
        training.data = JSON.parse(
          LZString.decompressFromBase64(
            savedGame.value
              .replace(/\s+/g, '')
              .split(VERSION_DELIM)[1]
              .substring(PREFIX.length)
          )
        )
      } catch (error) {
        training.data = false
      }
    }

    const updateSavedGame = () => {
      const toSave = training.data
      delete toSave.loaded
      savedGame.value =
        '' +
        btoa(version) +
        VERSION_DELIM +
        PREFIX +
        LZString.compressToBase64(JSON.stringify(toSave))
    }

    return {
      // Components
      FancyInput,
      // Variables
      version,
      savedGame,
      editableFields,
      training,
      // Functions
      loadSavedGame,
      updateSavedGame,
    }
  },
}
</script>
